{:speechlets
 [{:ns hello.speechlet
   :delegate {:ns hello.speechlet.delegate
              :prefix "speechlet-"}
   :servlet  {:ns hello.speechlet.servlet
              :url {:host "foo-bar.appspot.com"
                    :port 443
                    :path "/hello"}}
   :lambda   {:name "HelloFunction"
              :ns hello.speechlet.handler
              ;; :method [handleRequest [String] String]}
              :memory 512
              :timeout 5
              :arn "arn:aws:lambda:us-east-1:133382873287:function:HelloFunction"
              :role "arn:aws:iam::133382873287:role/boot-lambda-basic"}
   :logging  {:level :all}
   :skill    {:name "HelloMonster"
              :language "English"
              :cue "Hello Monster" ;; "Invocation name"
              :id "amzn1.ask.skill.1366b108-2230-4563-bc35-aef1d6116f98" ;; REQUIRED
              :audio-player false
              :ssl :wildcard ;; :trusted, :x-509
              :intents [{:symbol hello
                         :name "HelloWorldIntent"
                         ;; :slots [{:name "Date" :type "AMAZON.DATE"}]
                         :samples #{"say hello"
                                    "say hello world"
                                    "hello"
                                    "say hi"
                                    "say hi world"
                                    "hi"
                                    "how are you"}}
                        {:symbol help
                         :name "AMAZON.HelpIntent"
                         ;; :samples #{}
                         }]
              }
   }

  {:ns goodbye.speechlet
   :delegate {:ns goodbye.speechlet.delegate
              :prefix "speechlet-"}
   :servlet  {:ns goodbye.speechlet.servlet
              :url {:host "foo-gar.appspot.com"
                    :port 443
                    :path "/goodbye"}}
   ;; :lambda {:name "GoodbyeMonster"
   ;;          :ns goodbye.speechlet.handler
   ;;          :memory 512
   ;;          :timeout 5
   ;;          :arn  "arn:aws:lambda..."
   ;;          :role "arn:aws:iam::133382873287:role/boot-lambda-basic"}
   :logging {:level :all}
   :skill {:name "GoodbyeMonster"
           :language "English"
           :cue "Goodbye Monster" ;; "Invocation name"
           :id "amzn1.ask.skill.cfb7a563-0ffb-4998-9771-c37c7365ec17"
           :audio-player false
           :ssl :wildcard
           :intents [{:symbol goodbye
                      :name "GoodbyeIntent"
                      :slots [{:name Sign :type "LIST_OF_SIGNS"}]
                      :samples #{"say goodbye"
                                 "say goodbye world"
                                 "goodbye"
                                 "say bye"
                                 "say bye world"
                                 "bye"}}
                     {:symbol help
                      :name "AMAZON.HelpIntent"
                      ;; :samples #{}
                      }]
           }
   }
  ]
 }
